.social-buttons {
    margin: 1rem;
    padding: .2rem 1rem; 
    border: 1px solid #A59D84;
    border-bottom: 5px solid #C1BAA1;
    list-style: none;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
    background: transparent;
}

.social-buttons li {
    display: inline-block;
}

.icon{
    transition: all 0.3s ease;
    animation: none;
}

.icon:hover {
    transform: scale(1.1);
    animation: ping-pong 0.6s ease infinite;
}

/* Keyframe animation for the ping-pong ball effect */
@keyframes ping-pong {
    0% {
        transform: scale(1.1) translateY(0);
    }
    25% {
        transform: scale(1.1) translateY(-20px);
    }
    50% {
        transform: scale(1.1) translateY(0);
    }
    75% {
        transform: scale(1.1) translateY(7px);
    }
    100% {
        transform: scale(1.1) translateY(0);
    }
}
